header 
  
  display: flex
  flex-direction: row
  justify-content: center
  margin-top: 20px
  gap: 35px
  width: 100%
  margin-bottom: 330px

#head
  position: fixed
  height: fit-content
  width: fit-content
  display: flex
  flex-direction: row
  gap: 35px
  align-items: center
  border-radius: 50px
  -webkit-backdrop-filter: blur(20px)
  backdrop-filter: blur(20px)
  border: 0.4px solid rgba(255, 255, 255, 0.2)
  background: rgba(111, 111, 111, 0.2)
  z-index: 100
  transition: all 0.3s ease


nav 
  display: flex
  flex-direction: row
  gap: 25px
  align-items: center
  padding: 0px 20px 0px 20px


.vvv 
  line-height: 100%
  text-decoration: none

  font-size: 20px
  color: rgb(9, 9, 9)
  background-color: transparent
 
  font-weight: 500
  transition: 0.3s
  padding: 10px
  &:hover 
    
    color: #cc2121
    transition: 0.3s
  
.logo 
  line-height: 100%
  text-decoration: none
  font-size: 45px
  color: #000000
  /* color: #fb4d66 */
  font-family: "Autography", sans-serif
  margin-top: 17px
  font-weight: 500
  transition: 0.3s
  z-index: 3
  margin-left: 15px
  &:hover 
    color: #5d09e4
    transform: scale(0.9)
    transition: 0.3s
  


.active 
  color: #cc2121
  cursor: default

